*body {
    font-family: Helvetica;
}
.promo {
    display: flex;
    justify-content: center;
    font-family: Helvetica;
    font-weight: 15px;
    background-color: #710022;
    color: #fff;
}

.header {
    justify-content: space-around;
    display: grid;
    grid-template: 1fr / repeat(3, 1fr) ;
    border: 1px red solid;
}

.logoContainer {
    align-items: center;
    justify-content: center;
    display: flex;
}

.logoContainer img {
    width: 100px;
}

.navBarContainer {
    display: contents;
}

.navBar {
    float: none;
    display: table-cell;
    vertical-align: middle;
}

.navBar ul {
    position: relative;
    padding: 0;
    text-align: center;
    margin: 25px 0;
}

.navBar li {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.barItems{
    display: flex;
    justify-content: center;
    align-items: center;
}

.barItems button,
            a {
    margin: 10px;
}
